
@{
    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="tnine">
    <div ui-view><p>toi la hai dep trai</p></div>
</div>

@Scripts.Render("~/bundles/angular")
@Scripts.Render("~/bundles/app")
@Scripts.Render("~/bundles/ui")
@Scripts.Render("~/bundles/home")
@Scripts.Render("~/bundles/todo")

